.footer {
    text-align: center;
    padding: 2rem;
    font-size: 0.9rem;
    }

html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Bad Script", sans-serif;
    color: var(--black);
    scroll-behavior: smooth;}

.body {
    margin: 0 auto;
    text-align: center;
    padding: 20px, 0, 0, 0;
}
