.case-card {
    width: 100%;
    border: 3px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 5px gray;
    background-color: aliceblue;
}

.case-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.case-page img {
    max-width: 300px;
    max-height: 300px;
    width: 100%;
    /* Optional: Scale down to fit container */
    height: auto;
    /* Maintain aspect ratio */
}